.about-wrapper {
  .about-content {
    max-width: 800px;
    width: 100%;

    .about-description {
      border-top-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
}

/* Tablet screens (768px and below) */
@media (max-width: 768px) {
  .about-wrapper {
    /* padding: 30px 15px; */
  }
}

/* Mobile screens (480px and below) */
@media (max-width: 480px) {
  .about-wrapper {
    align-items: center;
  }
}