@import "tailwindcss";

.projectCard {
  color: var(--border-color-hover);
  background-color: #fff;
  border: 5px var(--border-style) var(--border-color);
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.projectCard:hover {
  cursor: pointer;
  border-width: 3px;
  border-color: var(--border-color-hover);
  box-shadow: 0 4px 9px var(--border-color-hover);
}

.projectFigure {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}

.projectThumbnail {
  object-fit: fill;
  height: 280px;
  border-top-left-radius: var(--border-radius);
}

figcaption {
  padding: 2px 0;
  width: 100%;
}