@import "tailwindcss";

.project-wrapper {
  font-weight: bold;
  font-family: var(--fontFamily);
  font-size: var(--paragraph-fontSize);
}

/* Tablet screens (768px and below) */
@media (max-width: 768px) {
  .project-wrapper {
    min-height: 80vh;
    padding: 15px;
  }
}

/* Mobile screens (480px and below) */
@media (max-width: 480px) {
  .project-wrapper {
    min-height: auto;
    padding: 10px;
    margin-top: 90px;
  }
}

.projectdetails-wrapper {
  /* border: 1px solid red; */
}

.project-title {
  color: grey;
  font-size: x-large;
  font-weight: bold;
}

.project-heading {
  color: grey;
  font-size: medium;
  font-weight: bold;
}

.project-client {
  color: var(--primary-color);
  font-weight: bold;
}

.description-list {
  list-style: disc;
  padding-left: 20px;
  font-family: var(--fontFamily);
  font-size: 18px;
  font-weight: bold;
}

.project-data {
  margin-right: 20px;
  margin-bottom: 10px;
  font-family: var(--fontFamily);
  /* /* font-size: var(--paragraph-fontSize); */
  font-size: 18px;
  font-weight: bold;
}

.tech-item {
  font-family: var(--fontFamily);
  font-size: var(--paragraph-fontSize);
  font-weight: bold;
  list-style: none;
  padding-left: 20px;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 5px;
}