@import "tailwindcss";

.skills-category-list {
  gap: 15px;
}

.skill-categories {
  gap: 20px;
  width: 100%;
  margin-bottom: 0.5rem;
  text-align: justify;
}

.skill-item {
  font-family: var(--fontFamily);
  font-size: var(--paragraph-fontSize);
  font-weight: 600;
  padding: 1rem;
  border: var(--border-values);
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px #ccc;
}

/* Tablet screens (768px and below) */
@media (max-width: 768px) {
  .skills-heading {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .skill-categories {
    gap: 15px;
  }

  .skills-category-list {
    padding: 15px;
    gap: 12px;
  }

  .skill-item {
    margin: 3px;
    /* border: 1px solid #ed2929; */
  }
}

/* Mobile screens (480px and below) */
@media (max-width: 480px) {
  .skills-heading {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .skill-categories {
    gap: 10px;
  }

  .skills-category-list {
    padding: 10px;
    gap: 8px;
    flex-direction: row;
  }

  .skill-item {
    font-size: 0.9rem;
    margin: 0.5px;
    padding: 0.9rem;
    flex-direction: column;
  }
}

.skill-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.skill-name {
  font-size: 1rem;
  color: #333;
}